<main>
    <%= form_with model: @user, method: :put, url: user_index_path, local: true do |form| %>
      <%= render "basic_inputs", form: form %>  

       <div style="margin-top:5px; text-align: right;">
           <%= form.submit %>
       </div>
    <% end %>
</main>